body{
  background-image: url("background.png");
  text-align: center;
}
h1{
  font-size: 50px;
}
p1{
  text-align: center;
  font-size: 15px;
  font-family: Brush Script MT;
}

p2{
  text-align: center;
  font-size: 25px;
  font-family: comic sans-serif;
}
#container{
  width: auto;
  margin: 30px;
  border-radius: 50px;
  padding: 10px;
  border: 5px solid black;
  background-color: navajowhite;
  text-align: center;
  
}

#test{
  position: sticky;
}
